.period-comparison {
    margin-top: 32px;
    margin-bottom: 32px;
    
    &__controls {
        margin-top: 16px;
        margin-bottom: 24px;
        gap: 24px;
        align-items: flex-end;
    }
    
    &__period {
        gap: 8px;
    }
    
    &__results {
        margin-top: 24px;
    }
    
    &__charts {
        margin-top: 16px;
        gap: 24px;
        flex-wrap: wrap;
    }
    
    &__chart-group {
        margin-bottom: 24px;
    }
    
    &__chart {
        margin-right: 16px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}