.comparison-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    height: 170px;
    width: 190px;

    box-sizing: border-box;
    margin: 5px 10px;

    padding: 16px 0;
    
    &__title {
        font-size: 14px;
        color: #555555; /* Darker Gray */
    }
    
    &__value {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }
    
    &__comparison {
        margin-top: 4px;
    }
    
    &__triangle {
        margin-right: 4px;
        font-size: 12px;
        
        &_positive {
            color: #006400; /* Dark Green */
        }
        
        &_negative {
            color: #8B0000; /* Dark Red */
        }
        
        &_neutral {
            color: #696969; /* Dim Gray */
        }
    }
    
    &__difference {
        font-size: 12px;
        
        &_positive {
            color: #006400; /* Dark Green */
        }
        
        &_negative {
            color: #8B0000; /* Dark Red */
        }
        
        &_neutral {
            color: #696969; /* Dim Gray */
        }
    }
    
    &__previous {
        font-size: 12px;
        color: #696969; /* Dim Gray */
        margin-top: 4px;
    }
}